.footer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: var(--color-footer);
}
.footer__heading{
     margin-block: 2rem ;
     width: 100%;

}
.footer__heading h1{
     font-weight: 800;
     font-size: 62px;
     line-height: 75px;     
     text-align: center;
     letter-spacing: -0.04em;
}
.footer__button{
     margin-bottom: 6rem;
     display: flex;
     justify-content: center;
     align-items: center;
}
.footer__button button{
font-size: 18px;
line-height: 21px;
padding: 1rem;
border: 1px solid #fff;
text-align: center;
cursor: pointer;
background: transparent;
color: #fff;
outline: none;
font-weight: 600;
cursor: pointer;
transition: all 0.3s ease-in-out;
}
.footer__button button:hover{
     background-color: #fff;
     color: #000;
}
.footer__links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: left;
    grid-gap: 30px;
}

.footer__links__logo img{
     width: 118px;
     height: 30px;
     margin-bottom: 1rem;
}
.footer__links__logo p{
     font-size: 12px;
line-height: 14px;

}
.footer__links__list h4{
     font-size: 18px;
     margin-bottom: 1rem;
}
.footer__links__list p{
     margin-block: 0.8rem;
     font-size: 12px;
}


@media screen and (max-width: 800px){
     .footer__heading h1{
          font-size: 50px;
     }
}
@media screen and (max-width: 650px){
     .footer__links{
          grid-template-columns: repeat(2,1fr);
      }
}
.copyright{
     font-size: 12px;
line-height: 14px;
font-feature-settings: 'liga' off;
margin-top: 2rem;
}